<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  
     <link rel="icon" type="image/png" href="WIP">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700;800&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    {% include styles.html %}
     {% include schema.html %}   

   
</head>
<body class="bg-brand-dark">

    {% include nav.html %}

    
    <main>
        {{ content }}
    </main>

    {% include footer.html %}

    {% include scripts.html %}
  
  </body>
</html>
